.experience .projects .project-container .projects-wrapper .project .playbill {
    height: auto;
}

.experience .projects .project-container .projects-wrapper .project .playbill .playbill-content {
    padding: 0;
}

.experience .projects .project-container .projects-wrapper .project .playbill .playbill-content img {
    width: 100%;
    border-bottom: 3px solid var(--black);
}

.experience #talks .playbill-links, .experience #workshops .playbill-links, .experience #videos .playbill-links {
    position: relative;
    margin: 20px 20px 0 20px;
}

.experience .projects .project-container {
    max-width: 1200px;
}

.experience .projects.projects-workshops#writing {
    background-color: var(--purple);
    background-image: url(../imgs/music-note-background-purple.svg);
}

.experience .projects.projects-workshops#writing .workshops-content .workshops-blocks .content-block {
    outline: 3px solid var(--purple);
    background-color: var(--purple);
}

.experience .projects.projects-workshops#writing .workshops-content .workshops-blocks .content-block header, .experience .projects.projects-workshops .workshops-content .workshops-blocks .content-block .workshops-description span {
    color: var(--purple);
}

@media screen and (min-width: 997px) {
    .experience .projects .project-container .projects-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .experience .projects .project-container .projects-wrapper .project .playbill .playbill-content img {
        height: 200px;
    }
}
