//GENERAL

$black: #212121;
$white: #FAFAFA;
$blue: #3454D1;

* {
  box-sizing: border-box;
}

body {
  background: $black;
  // border: 1.5em solid $black;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

section {
	width: 100%;
	padding: 1em;
}

.section-title {
  font-size: 3.9em;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 .5em 0;
}

//HEADER

header {
	padding: 1em;
	background: $black;
}

.page-title {
  font-size: 2.6em;
  color: $white;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  line-height: 1;
  a {
  	text-decoration: none;
  	color: $black;
  	&:hover {
  		color: $white;
  	}
  }
}

.page-subtitle {
	padding-top: 1em;
	font-size: .8em;
	color: $white;
}

//WORK

.work {
	background: $white;
	color: $black;
	.section-title {
	color: $black;	
	}
}

.work-item-box {
	text-align: center;
	margin: 1em 0;
}

.work-image, .css-work-image {
	border-radius: 25px;
	border: 2px solid $black;
	width: 100%;
}

.project-title {
	font-weight: 400;
	font-size: 2em;
	padding: .3em;
	text-align: left;
}

.project-text {
	padding: .6em;
	text-align: left;
}

.demo, .github {
	background: $blue;
	color: $white;
	border: none;
	margin: 2em .4em;
	padding: 1em 1.5em;
	font-size: 16px;
	font-weight: bold;
	width: 40%;
	&:hover {
		background: $black;
	}
}



//ABOUT

.about {
	background: $black;
	color: $white;
	text-align: center;
		.about-text, .section-title {
		text-align: left;
		}
}



.about-image {
	width: 60%;
	border: 5px solid $white;
}



//CONTACT

.contact {
	background: $white;
	color: $black;
	.section-title {
		color: $black;
	}
}

.social-icons {
	text-align: center;
}

.fa {
	color: $blue;
	padding: .3em .1em;
	&:hover {
		color: $white;
	}
}

//CSS IMAGES PAGE

$css-darkblue: #223546;
$css-darkblue2: #212F3D;
$css-yellow: #FFD401;
$css-purple: darken(#FAF9FA, 60%);
$css-white: #FBFCFC;

@mixin dark-text {
	color: $black;
	button {
		background: $black;
		color: $white;
	}
}

.codepen {
	background: white;
	color: $black;
	border: none;
	margin: 2em 0;
	padding: 1em;
}

.css-description {
	margin: 2em 0 1.5em 0;
	text-align: center;
	p {
		padding: 2em 1.5em;
	}
}

.css-additional {
	text-align: center;
	a {
		text-decoration: none;
		color: $blue;
		font-weight: bold;
		&:hover {
			color: white;
		}
	}
}

.css-clock, .css-phone, .css-office, .css-laptop, .css-keyboard, .css-zombie, .css-mushu, .css-penciljar {
	width: 100%;
	text-align: center;
	margin: 1em 0;
}

.css-clock {
	background: lighten(black, 5%);
}

.css-phone {
	background: darken($css-darkblue, 2.9%);
}

.css-office {
	background: $css-darkblue;
}

.css-laptop {
	background: $css-purple;
}

.css-keyboard {
	background: $css-yellow;
	@include dark-text;
}

.css-zombie {
	background: $css-darkblue2;
}

.css-mushu {
	background: $css-white;
	@include dark-text;
}

.css-image {
	width: 100%;
	margin: 1em 0;
	@media only screen and (min-width: 641px) {
		width: 500px;
	}
}

.csspage-social-icons {
	text-align: center;
	padding: 2em 0;
}