//GENERAL

$black: #212121;
$white: #FAFAFA;
$blue: #3454D1;

* {
  box-sizing: border-box;
}

body {
  background: $white;
  // border: 1.5em solid $black;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

section {
	width: 100%;
	padding: 1.5em;
	@media only screen and (min-width: 641px) {
		width: 90%;
		margin: 0 auto;
	}
}

.section-title {
  font-size: 3.9em;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 .5em 0;
}

//HEADER

header {
	padding: 1em;
	background: $black;
}

.page-title {
  font-size: 3em;
  color: $white;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  line-height: 1;
  a {
  	text-decoration: none;
  	color: $white;
  }
}

.page-subtitle {
	padding-top: 1em;
	font-size: 1em;
	color: $white;
}

//WORK

.work {
	background: $white;
	color: $black;
	.section-title {
	color: $black;	
	}
}

.work-item-box {
	text-align: center;
	margin: 1em 0;
	@media only screen and (min-width: 1024px) {
		width: 45%;
		display: inline-block;
		margin: 0 1em;
	}
}

.work-image, .css-work-image {
	border-radius: 25px;
	border: 2px solid $black;
	width: 100%; 
	max-width: 500px;
}

.project-title {
	font-weight: 400;
	font-size: 2em;
	padding: .3em;
	text-align: center;
}

.project-text, .technologies-list {
	text-align: left;
}

.technologies-list {
	font-weight: bold;
	text-align: center;
	margin-top: 1.5em;
	li {
		display: inline-block;
	}
}

.line {
	font-weight: 300;
}


.demo, .github {
	background: $blue;
	color: $white;
	border: none;
	margin: 2em .4em;
	padding: 1em 1.5em;
	font-size: .7em;
	font-weight: bold;
	width: 46%;
	height: 50px;
	&:hover {
		background: $black;
	}
}



//ABOUT

.about {
	background: $black;
	color: $white;
	text-align: center;
		@media only screen and (min-width: 641px) {
		text-align: left;
	}
	.about-text, .section-title {
	text-align: left;
	}
}

.about-image {
	width: 60%;
	border: 5px solid $white;
	margin: 0 0 2em 0;
	width: 250px;
		@media only screen and (min-width: 700px) {
		float: left;
	}
}

.about-item {
		@media only screen and (min-width: 1140px) {
			padding: 0 0 5em 0;
	}	
}


.about-text {
	margin: 1.5em .5em;
	a{
		font-weight: bold;
		color: $blue;
		text-decoration: none;
		&:hover {
			color: $white;
		}
	}
		@media only screen and (min-width: 641px) {
		margin-left: 15em;
	}
	span {
		font-weight: 600;
		font-size: 1.2em;
	}	
}



//CONTACT

.contact {
	background: $white;
	color: $black;
	.section-title {
		color: $black;
	}
}

.social-icons {
	text-align: center;
}

.fa {
	color: $blue;
	padding: .3em .1em;
	&:hover {
		color: $white;
	}
}

//CSS IMAGES PAGE

$css-darkblue: #223546;
$css-darkblue2: #212F3D;
$css-yellow: #FFD401;
$css-purple: darken(#FAF9FA, 60%);
$css-white: #FBFCFC;

@mixin dark-text {
	color: $black;
	button {
		background: $black;
		color: $white;
	}
}

.codepen {
	background: white;
	color: $black;
	border: none;
	margin: 2em 0;
	padding: 1em;
	font-size: 1em;
	width: 250px;
	height: 50px;
}

.css-description {
	background: $white;
	a {
		text-decoration: none;
		color: $blue;
		font-weight: bold;
		&:hover {
			color: white;
		}
	}
}

.css-image-section {
	background: $white;
	width: 100%;
	text-align: center;
	color: $white;
}

.css-clock {
	background: lighten(black, 5%);
}

.css-phone {
	background: darken($css-darkblue, 2.9%);
}

.css-office {
	background: $css-darkblue;
}

.css-laptop {
	background: $css-purple;
}

.css-keyboard {
	background: $css-yellow;
	@include dark-text;
}

.css-zombie {
	background: $css-darkblue2;
}

.css-mushu {
	background: $css-white;
	@include dark-text;
}

.css-image {
	width: 100%;
	margin: 1em 0;
	@media only screen and (min-width: 641px) {
		width: 500px;
	}
}
