//GENERAL

$black: #212121;
$white: #EAEAEA;
$blue: #3454D1;

* {
  box-sizing: border-box;
}

body {
  background: $black;
  border: 1.5em solid white;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  padding: 1em;
}

section {
	width: 100%;
}

.section-title {
  font-size: 4.2em;
  color: $white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px $blue,
  3px 3px $blue, 
  2px 3px $blue, 
  4px 4px $blue, 
  5px 5px $blue;
}

//HEADER

header {
	background: $blue;
	padding: 1em;
}

.page-title {
  font-size: 2.6em;
  color: $black;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  line-height: 1;
  text-shadow: 2px 2px $blue,
  3px 3px $blue, 
  4px 4px $blue, 
  5px 5px $blue;
}

.page-subtitle {
	padding-top: 1em;
	font-size: .8em;
}

//WORK

//ABOUT

//CONTACT

.fa {
	color: white;
	&:hover {
		color: $blue;
	}
}

//CSS IMAGES

//CLOCK

$css-darkblue: #223546;
$css-yellow: #FFD401;
$css-purple: darken(#FAF9FA, 60%);

.codepen {
	background: white;
	color: $black;
	border: none;
	margin: 2em 0;
	padding: 1em;
}

.css-description {
	height: 50px;
	margin: 2em 0;
}

.css-clock, .css-phone, .css-office, .css-laptop, .css-keyboard, .css-zombie, .css-mushu, .css-penciljar {
	width: 100%;
	text-align: center;
	margin: 1em 0;
}

.css-clock {
	background: lighten(black, 5%);
}

.css-phone {
	background: darken($css-darkblue, 2.9%);
}

.css-office {
	background: $css-darkblue;
}

.css-laptop {
	background: $css-purple;
}

.css-keyboard {
	background: $css-yellow;
}

.css-zombie {
	background: $css-darkblue;
}

.css-mushu {
	background: white;
}

.css-image {
	width: 100%;
	margin: 1em 0;
}