* {
    box-sizing: border-box;
}

body {
    font-family: 'Sulphur Point', sans-serif;
    background-color: #071b29;
}

section, header {
    margin: 20px auto;
    max-width: 1000px;
    background-color: white;
    border: 3px solid black;
    padding: 20px;
    box-shadow: 5px 5px #ef4565;
}

.tv-shows-container, .movies-container, .tv-movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 20px;
    margin: 20px auto;
}

.tv-card, .movie-card, .play-card {
    border: 3px solid #094067;
    padding: 10px;
    position: relative;
    box-shadow: 5px 5px #094067;
}

h1 {
    font-family: 'Righteous', cursive;
    margin-top: 10px;
}

h3 {
    margin: 5px 0;
}

.watch-info {
    position: absolute;
    bottom: -17px;
}

.watch-info p {
    margin: 0 5px 0 0;
    display: inline-block;
    font-size: 14px;
    border: 3px solid #094067;
    padding: 5px;
    background-color: white;
}

.options span {
    font-size: 21px;
}

.options {
    position: absolute;
    right: 7px;
    top: -13px;
}

.red-shadow {
    box-shadow: 5px 5px #ef4565;
}

.yellow-shadow {
    box-shadow: 5px 5px #F1DA35;
}

.red-shadow-alt {
    box-shadow: 5px 5px #D43E5A;
}

.black-shadow {
    box-shadow: 5px 5px #232121;
}

.not-watched {
    border: 3px solid #a9aaaa;
    color: #a9aaaa;
    box-shadow: 5px 5px #a9aaaa;
}
