body {
    font-family: avenir;
    padding: 0;
    margin: 0;
    background-color: white;
}
  
header {
    text-align: center;
    background-color: #292932;
    color: lavender;
    padding: 20px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1, .resources h3, ul  {
    margin: 0;
}

h2 {
    padding: 10px 15px;
    color: #292932;
    display: inline-block;
}


.dc-resources .resource-lists {
display: grid;
grid-template-columns: 1fr;
grid-auto-rows: auto;
padding: 25px 10px;
}

.dc-resources .resource-lists li {
    margin-bottom: 10px;
}

@media screen and (min-width: 992px){
    .dc-resources .resource-lists {
        grid-template-columns: 1fr 1fr;
    }
}

.resources {
    margin: auto;
}

.resources a {
    color: #292932;
}

.resources p {
    margin-top: 0;
}

.resources ul {
    list-style:none;
}

.resources ul li {
    padding-left: 10px;
    position: relative;
    font-size: 21px;
}

.resources ul li:before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    left: -10px;
    position: absolute;
    top: 11px;
}

.general-resources h2, .general-resources ul li:before, .cool-resources h2, .cool-resources ul li:before {
    background-color: #ffc0cb;
}

.community-resources h2, .community-resources ul li:before, .dc-resources h2, .dc-resources ul li:before {
    background-color: #c0c4ff;
}

.coding-resources h2 , .coding-resources ul li:before, .about h2 {
    background-color: #ffd6c0;
}

.project-resources h2 , .project-resources ul li:before {
    background-color: #c0e9ff;
}

.project-resources h2, .community-resources h2, .dc-resources h2  {
    transform: rotate(-2deg);
}

.general-resources h2, .cool-resources h2, .coding-resources h2, .about h2 {
    transform: rotate(2deg);
}

.about {
    background-color: #292932;
    padding: 30px 35px;
}

.about-wrapper {
    max-width: 900px;
    margin: auto;
}

.about p {
    color: lavender;
    font-size: 21px;
    margin: 20px 0;
}

.about p:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.about .social-media-links ul {
    padding: 0;
    list-style: none;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.about .social-media-links li {
    display: inline-block;
    margin-right: 15px;
}

.about .social-media-links li i {
    font-size: 34px;
}

.about .social-media-links li:nth-child(1n) i {
    color:#c0e9ff;;
}

.about .social-media-links li:nth-child(2n) i {
    color: #c0c4ff;
}

.about .social-media-links li:nth-child(3n) i {
    color: #ffd6c0;
}

.about .social-media-links li:nth-child(4n) i {
    color: #ffc0cb;
}