/* COLORS */

$purple: #e5e5f9;
$pink: #fae6e9;
$blue: #cbeaf2;
$green: #e7f7da;
$yellow: #faf9e6;
$gray: #292932;

/* COLOR SCHEMES */

body.purple {
    background-color: $purple;
    .main-navigation header, .playbill-container .playbill header, .playbill-container .playbill .terminal ul, .project .playbill header, .project .playbill .playbill-content .playbill-links a {
	    color: $purple;
    }

    .projects, .about {
        background-image: url('../imgs/music-note-background-purple.svg');
    }

    .secondary-navigation button {
        color: $purple;
        border: 2px solid $purple;
    }

    .playbill-container .playbill {
        outline: 7px solid $purple;
        background-color: $purple;
    }

    .terminal span, .teaching-blocks header, .teaching-resources header, .teaching-blocks .teaching-description span {
        background-color: $purple;
    }

    .project .playbill, .teaching {
        outline: 3px solid $purple;
    }

    .teaching-blocks .content-block, .teaching-resources {
        border: 2px solid $purple;
        -webkit-box-shadow: 5px 5px 0 $purple;
        box-shadow: 9px 9px 0 $purple;
        color: $purple;
    }

    .teaching-blocks .teaching-description a, .teaching-resources .teaching-description a {
        background-color: $purple;
        -webkit-box-shadow: 5px 5px 0 rgba(229, 229, 249,.5);
        box-shadow: 5px 5px 0 rgba(229, 229, 249,.5);
    }

     @media screen and (min-width: 997px){
        .playbill-container .playbill {
            background-color: $purple;
        }

        .playbill-container .playbill:after {
            background-color: darken($purple,15%);
        }

        .playbill-container .playbill:before {
            background-color: $purple;
            border: 7px solid darken($purple,10%);
        }
     }
}

body.pink {
    background-color: $pink;
    .main-navigation header, .playbill-container .playbill header, .playbill-container .playbill .terminal ul, .project .playbill header, .project .playbill .playbill-content .playbill-links a {
	    color: $pink;
    }

    .projects, .about, .hero {
        background-image: url('../imgs/music-note-background-pink.svg');
    }

    .secondary-navigation button {
        color: $pink;
        border: 2px solid $pink;
    }

    .playbill-container .playbill {
        outline: 7px solid $pink;
        background-color: $pink;
    }

    .terminal span, .teaching-blocks header, .teaching-resources header, .teaching-blocks .teaching-description span {
        background-color: $pink;
    }

    .project .playbill, .teaching {
        outline: 3px solid $pink;
    }

    .teaching-blocks .content-block, .teaching-resources {
        border: 2px solid $pink;
        -webkit-box-shadow: 5px 5px 0 $pink;
        box-shadow: 9px 9px 0 $pink;
        color: $pink;
    }

    .teaching-blocks .teaching-description a, .teaching-resources .teaching-description a {
        background-color: $pink;
        -webkit-box-shadow: 5px 5px 0 rgba(250, 230, 233,.5);
        box-shadow: 5px 5px 0 rgba(250, 230, 233,.5);
    }

     @media screen and (min-width: 997px){
        .playbill-container .playbill {
            background-color: $pink;
        }

        .playbill-container .playbill:after {
            background-color: darken($pink,15%);
        }

        .playbill-container .playbill:before {
            background-color: $pink;
            border: 7px solid darken($pink,10%);
        }
     }
}

body.blue {
    background-color: $blue;
    .main-navigation header, .playbill-container .playbill header, .playbill-container .playbill .terminal ul, .project .playbill header, .project .playbill .playbill-content .playbill-links a {
	    color: $blue;
    }

    .projects, .about, .hero {
        background-image: url('../imgs/music-note-background-blue.svg');
    }

    .secondary-navigation button {
        color: $blue;
        border: 2px solid $blue;
    }

    .playbill-container .playbill {
        outline: 7px solid $blue;
        background-color: $blue;
    }

    .terminal span, .teaching-blocks header, .teaching-resources header, .teaching-blocks .teaching-description span {
        background-color: $blue;
    }

    .project .playbill, .teaching {
        outline: 3px solid $blue;
    }

    .teaching-blocks .content-block, .teaching-resources {
        border: 2px solid $blue;
        -webkit-box-shadow: 5px 5px 0 $blue;
        box-shadow: 9px 9px 0 $blue;
        color: $blue;
    }

    .teaching-blocks .teaching-description a, .teaching-resources .teaching-description a {
        background-color: $blue;
        -webkit-box-shadow: 5px 5px 0 rgba(203, 234, 242,.5);
        box-shadow: 5px 5px 0 rgba(203, 234, 242,.5);
    }

     @media screen and (min-width: 997px){
        .playbill-container .playbill {
            background-color: $blue;
        }

        .playbill-container .playbill:after {
            background-color: darken($blue,15%);
        }

        .playbill-container .playbill:before {
            background-color: $blue;
            border: 7px solid darken($blue,10%);
        }
     }
}

body.yellow {
    background-color: $yellow;
    .main-navigation header, .playbill-container .playbill header, .playbill-container .playbill .terminal ul, .project .playbill header, .project .playbill .playbill-content .playbill-links a {
	    color: $yellow;
    }

    .projects, .about, .hero {
        background-image: url('../imgs/music-note-background-yellow.svg');
    }

    .secondary-navigation button {
        color: $yellow;
        border: 2px solid $yellow;
    }

    .playbill-container .playbill {
        outline: 7px solid $yellow;
        background-color: $yellow;
    }

    .terminal span, .teaching-blocks header, .teaching-resources header, .teaching-blocks .teaching-description span {
        background-color: $yellow;
    }

    .project .playbill, .teaching {
        outline: 3px solid $yellow;
    }

    .teaching-blocks .content-block, .teaching-resources {
        border: 2px solid $yellow;
        -webkit-box-shadow: 5px 5px 0 $yellow;
        box-shadow: 9px 9px 0 $yellow;
        color: $yellow;
    }

    .teaching-blocks .teaching-description a, .teaching-resources .teaching-description a {
        background-color: $yellow;
        -webkit-box-shadow: 5px 5px 0 rgba(250, 249, 230,.5);
        box-shadow: 5px 5px 0 rgba(250, 249, 230,.5);
    }

     @media screen and (min-width: 997px){
        .playbill-container .playbill {
            background-color: $yellow;
        }

        .playbill-container .playbill:after {
            background-color: darken($yellow,15%);
        }

        .playbill-container .playbill:before {
            background-color: $yellow;
            border: 7px solid darken($yellow,10%);
        }
     }
}

body.green {
    background-color: $green;
    .main-navigation header, .playbill-container .playbill header, .playbill-container .playbill .terminal ul, .project .playbill header, .project .playbill .playbill-content .playbill-links a {
	    color: $green;
    }

    .projects, .about, .hero {
        background-image: url('../imgs/music-note-background-green.svg');
    }

    .secondary-navigation button {
        color: $green;
        border: 2px solid $green;
    }

    .playbill-container .playbill {
        outline: 7px solid $green;
        background-color: $green;
    }

    .terminal span, .teaching-blocks header, .teaching-resources header, .teaching-blocks .teaching-description span {
        background-color: $green;
    }

    .project .playbill, .teaching {
        outline: 3px solid $green;
    }

    .teaching-blocks .content-block, .teaching-resources {
        border: 2px solid $green;
        -webkit-box-shadow: 5px 5px 0 $green;
        box-shadow: 9px 9px 0 $green;
        color: $green;
    }

    .teaching-blocks .teaching-description a, .teaching-resources .teaching-description a {
        background-color: $green;
        -webkit-box-shadow: 5px 5px 0 rgba(231, 247, 218,.5);
        box-shadow: 5px 5px 0 rgba(231, 247, 218,.5);
    }

     @media screen and (min-width: 997px){
        .playbill-container .playbill {
            background-color: $green;
        }

        .playbill-container .playbill:after {
            background-color: darken($green,15%);
        }

        .playbill-container .playbill:before {
            background-color: $green;
            border: 7px solid darken($green,10%);
        }
     }
}
/* GENERAL STYLES */

* {
    text-transform: lowercase;
    box-sizing: border-box;
}

body {
    margin: 10px;
	font-family: 'Inconsolata', monospace;
	font-size: 21px;
    color: $gray;
    background-color: $pink;
}

a {
    text-decoration: none;
    outline: 7px solid transparent;
    color: $gray;
}

a:focus, a:hover {
    outline-offset: 3px;
    outline: 3px solid $gray;
}

.projects h2, .teaching h2, .about h2 {
    font-size: 40px;
    margin: 0 0 20px 0;
}

.projects, .about {
    background-image: url('../imgs/music-note-background-pink.svg');
	background-repeat: no-repeat;
    background-position: 2% 0%;
    background-size: 29%;
}

.hero {
    background-size: 29%;
    background-position: 94% 5%;
    margin-top: 30px;
}

.about .about-content, .teaching .teaching-content {
    max-width: 1000px;
    margin: auto;
}

/* Navigation */

.main-navigation header {
	background-color: $gray;
	padding: 20px 30px;
    color: $pink;
}

.main-navigation header h2 {
    margin: 0;
}

.main-navigation nav {
    padding: 20px;
}

.secondary-navigation a, .main-navigation a { 
    display: block;
}

.secondary-navigation {
    padding: 20px;
}

.secondary-navigation h3 {
    font-size: 30px;
    margin: 0;
}

.secondary-navigation p {
    margin: 5px 5px 20px 0;
}

.secondary-navigation ul, .main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secondary-navigation li.color-scheme{
   padding: 0;
   text-align: center;
}

.secondary-navigation li.color-scheme:before {
    display: none;
}

.secondary-navigation button {
   background-color: $gray;
   color: $pink;
   font-size: 15px;
   padding: 5px 10px;
   margin-top: 15px;
   outline: 3px solid transparent;
   cursor: pointer;
   border-radius: 7px;
   box-shadow: 7px 7px 0 $gray;
   border: 2px solid $pink;
   transition: .5s;
}

.secondary-navigation button:hover {
    box-shadow: 7px 7px 0 rgba(41, 41, 50, .9);
    transition: .5s;
}

.secondary-navigation li, .main-navigation li {
    padding-left: 30px;
    position: relative;
    padding: 5px 5px 5px 30px;
}

.secondary-navigation li:before, .main-navigation li:before {
    position: absolute;
    font-weight: bold;
    color: $gray;
    content: "\266A";
    left: 5px;
    top: 5px;
}

@media all and (-ms-high-contrast:none) {
    .grid-container {
      display: -ms-grid;
      -ms-grid-columns: 0.4fr 1fr 0.2fr;
      -ms-grid-rows: 1fr;
    }
  
    .project-navigation {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-col: 1;
      -ms-grid-col-span: 1;
    }
  
    .hero-playbill {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-col: 2;
      -ms-grid-col-span: 1;
    }
  
    .secondary-navigation {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-col: 3;
      -ms-grid-col-span: 1;
    }
  
  }

/* Hero */

.hero {
    background-image: url('../imgs/music-note-background-pink.svg');
	background-repeat: no-repeat;
    border: 7px solid $gray;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    box-shadow: 10px 10px 0 $gray;
    border-radius: 7px 7px 0 7px;
}

.marquee .lyrics span {
    display: inline;
}

.marquee {
    height: 35px;
    width: 100%;
	overflow: hidden;
	position: relative;
    padding: 0;
    border-top: 7px solid $gray;
    border-bottom: 3px solid $gray;
}

.marquee .lyrics {
    display: block;
    width: 359%;
    overflow: hidden;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
}
  
.marquee span {
font-size: 16px;
padding-left: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

.playbill-container {
    padding: 40px 20px;
    position: relative;
}

.playbill-container .playbill {
    border: 7px solid $gray;
    -webkit-box-shadow: 5px 5px 0 rgba(41, 41, 50, 1);
    box-shadow: 5px 5px 0 rgba(41, 41, 50, 1);
    max-width: 400px;
    margin: auto;
    position: relative;
    outline: 7px solid $pink;
    background-color: $pink;
}

.playbill-container .playbill header {
    background-color: $gray;
    color: $pink;
    padding: 20px;
    text-align: center;
}

.playbill-container .playbill .playbill-content {
    padding: 10px;
}

.playbill-container .playbill header h2, .playbill-container .playbill header h3{
    margin: 0;
    text-transform: uppercase;
}

.playbill-container .playbill header h2 {
    font-size: 40px;
}

.playbill-container .playbill header h3 {
    font-weight: 400;
    font-size: 20px;
}

.playbill-container h1 {
    font-size: 70px;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.playbill-container .playbill .terminal {
    border: 5px solid $gray;
    border-radius: 5px;
    width: 90%;
    margin: 20px auto;
    max-width: 300px;
    padding: 10px;
    background-color: $gray;
}

.playbill-container .playbill .terminal ul {
    list-style: none;
    padding: 0;
    color: $pink;
}

.playbill-container .playbill .terminal li {
    font-size: 14px;
    margin: 2px auto;
}

.terminal span {
	background-color: $pink;
	height: 17px;
	width: 8px;
	display: inline-block;
	-webkit-animation: blink 2s infinite;
	animation: blink 2s infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* Projects */

.projects {
    border: 7px solid $gray;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 10px 10px 0 $gray;
    border-radius: 7px 7px 0 0;
}

.project-container {
    max-width: 1000px;
    margin: auto;
}

.projects-wrapper, .project-wip {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.project-wip {
    margin-top: 20px;
}

.project-wip a {
    text-decoration: underline;
}

.project {
    margin-bottom: 30px;
}

.project:last-child {
    margin-bottom: 0;
}

.project .playbill {
    border: 5px solid $gray;
    -webkit-box-shadow: 5px 5px 0 $gray;
    box-shadow: 9px 9px 0 $gray;
    outline: 3px solid $pink;
    border-radius: 7px;
}

.project .playbill header {
    background-color: $gray;
    color: $pink;
    text-align: center;
    padding: 20px;
}

.project .playbill header h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.project .playbill header p {
    margin: 0;
    font-size: 18px;
    letter-spacing: 1.1px;
}

.project .playbill .playbill-content {
    padding: 20px;
}

.project .playbill .playbill-content .playbill-links a {
    background-color: $gray;
	color: $pink;
	-webkit-box-shadow: 5px 5px 0 rgba(41, 41, 50, .5);
	box-shadow: 5px 5px 0 rgba(41, 41, 50, .5);
	padding: 10px 20px;
    transition: .5s;
    display: inline-block;
    margin: 10px 0 20px 0;
}

.project .playbill .playbill-content .playbill-links a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}


/* Teaching */

.teaching {
    margin: 30px auto;
    padding: 30px;
    border: 7px solid $gray;
    background-color: $gray;
    color: $gray;
    box-shadow: 10px 10px 0 $gray;
    outline: 3px solid $pink;
    border-radius: 7px 7px 0 7px;
}

.teaching-blocks {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.teaching-blocks .content-block {
    border: 2px solid $pink;
    -webkit-box-shadow: 5px 5px 0 $pink;
    box-shadow: 9px 9px 0 $pink;
    outline: 3px solid $gray;
    border-radius: 7px;
    background-color: $gray;
    color: $pink;
}

.teaching-blocks header, .teaching-resources header {
    background-color: $pink;
    color: $gray;
    text-align: center;
    padding: 20px;
}

.teaching-blocks header h3, .teaching-blocks header h4, .teaching-resources header h3, .teaching-resources header h4 {
    margin: 0;
}

.teaching-resources {
    margin-top: 40px;
    display: grid;
    border: 2px solid $pink;
    -webkit-box-shadow: 5px 5px 0 $pink;
    box-shadow: 9px 9px 0 $pink;
    outline: 3px solid $gray;
    border-radius: 7px;
    background-color: $gray;
    color: $pink;
    
}

.teaching-resources .teaching-description {
    padding: 10px 20px;
}

.teaching-blocks header h4, .teaching-resources header h4 {
    font-weight: normal;
    text-transform: uppercase;
}

.teaching-blocks .teaching-description {
    padding: 20px;
}

.teaching-blocks .teaching-description span {
    background-color: $pink;
    color: $gray;
    padding: 0 5px;
}

.teaching-blocks .teaching-description a, .teaching-resources .teaching-description a {
    background-color: $pink;
	color: $gray;
	-webkit-box-shadow: 5px 5px 0 rgba(229, 229, 249,.5);
	box-shadow: 5px 5px 0 rgba(229, 229, 249,.5);
	padding: 10px 20px;
    transition: .5s;
    display: inline-block;
    margin: 10px 0 20px 0;
}

.teaching-blocks .teaching-description a:focus, .teaching-resources .teaching-description a:focus {
    outline: 7px solid $gray;
    outline-offset: 7px;
}

.teaching-blocks .teaching-description a:hover, , .teaching-resources .teaching-description a:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

/* About */

.about {
    border: 7px solid $gray;
    padding: 30px;
    box-shadow: 10px 10px 0 $gray;
    border-radius: 7px 7px 0 7px;
}

.social-media-links ul{
    list-style: none;
    padding: 0;
}

.social-media-links li {
    display: inline-block;
}

.social-media-links i {
    font-size: 30px;
}

.social-media-links a {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.social-media-links a:hover {
    color: rgba(41, 41, 50, .5);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}



@media all and (-ms-high-contrast:none) {
    .teaching-blocks {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr;
      -ms-grid-gap: 20px;
    }
  
  }

  /* Media Queries */


  @media screen and (min-width: 426px){
      body {
          margin: 25px;
      }
  }

  @media screen and (min-width: 997px){
    
    .main-navigation{
        grid-area: project-navigation;
        border-right: 7px solid $gray;
    }
    
    .secondary-navigation {
        grid-area: secondary-navigation;
        padding: 20px;
        border-left: 7px solid $gray;
        position: relative;
        padding-top: 280px;
    }

    .secondary-navigation .me {
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
        min-height: 200px;
        position: absolute;
        right: 25px;
        top: 35px;
    }

    .secondary-navigation button {
        position: absolute;
        bottom: 25px;
    }
    
    .hero {
        grid-template-columns: 0.3fr 1fr 0.2fr;
        grid-template-areas: "project-navigation hero-playbill secondary-navigation";
        grid-template-rows: 1fr;
        background-position: 25% 49%;
        background-size: 49%;
    }
    
    .marquee {
        border-top: 0;
        height: 30px;
    }

    .hero-playbill {
        grid-area: hero-playbill;
    }
    
    .playbill-container {
        -webkit-transform: rotate(-7deg);
            -ms-transform: rotate(-7deg);
                transform: rotate(-7deg);
    }

    .playbill-container .playbill {
        min-height: 480px;
        background-color: $pink;
    }

    .playbill-container .playbill .playbill-content {
        padding: 0 10px 10px 40px;
    }

    .playbill-container .playbill-content h1 {
        text-align: left;
    }

    .playbill-container .playbill .terminal {
        position: absolute;
        right: -15%;
        bottom: 0%;
        padding: 20px;
        z-index: 999;
    }

    .playbill-container .playbill:after {
        position: absolute;
        content: '';
        height: 140px;
        width: 120px;
        background-color: darken($pink,15%);
        z-index: 0;
        right: -30px;
        top: 200px;
        opacity: 0.5;
    }

    .playbill-container .playbill:before {
        position: absolute;
        content: '';
        height: 100px;
        width: 150px;
        background-color: $pink;
        border: 7px solid darken($pink,10%);
        z-index: 0;
        left: 10px;
        bottom: 30px;
    }

    .playbill-container .playbill .terminal .terminal-content li {
        margin-bottom: 5px;
    }

    .playbill-container .playbill .terminal ul {
        margin: 0;
    }

    .projects-wrapper {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .teaching-blocks {
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
